In [1]:
import glossy as g
_ = g.Glossary()

In [9]:
import pandas as pd

data = [['tom', 10], ['nick', 15], ['juli', 14]] 
df = pd.DataFrame(data, columns = [_('Name', 'Name Column for Pandas DF', sensitivty="private", type="zpp", force_update=True), 'Age']) 
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [10]:
_.describe()

{'Name': {'name': 'Name',
  'definition': 'Name Column for Pandas DF',
  'metadata': {'sensitivty': 'private', 'type': 'zpp'},
  'relations': []},
 'aaaa': {'name': 'aaaa', 'definition': None, 'metadata': {}, 'relations': []}}

In [11]:
import os
filepath = os.path.join('../tests/fixtures', 'dummy.csv')
glossary = g.from_csv(filepath)

In [12]:
df = pd.DataFrame(data, columns = [glossary('aaaa'), 'Age']) 
df

   aaaa  Age
0   tom   10
1  nick   15
2  juli   14

In [13]:
glossary.describe()

{'aaaa': {'name': 'aaaa',
  'definition': 'dddd',
  'metadata': {'hello': 'eeee', 'zoona': 'dfdf'},
  'relations': []},
 'dfdfd': {'name': 'dfdfd',
  'definition': 'eeee',
  'metadata': {'hello': 'dfddf', 'zoona': 'dfdfd'},
  'relations': []}}